[Unit]
Description=FCE App
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/fce-app
Environment=PORT=8787
Environment=HOST=0.0.0.0
ExecStart=/usr/bin/npm run start:prod
Restart=always
RestartSec=5
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
